parameters:
	ignoreErrors:
		-
			message: "#^Method Surface\\\\CommonMark\\\\Ext\\\\YouTubeIframe\\\\Url\\\\Parsers\\\\Full\\:\\:getUuid\\(\\) should return string\\|null but returns array\\<int, string\\>\\|string\\.$#"
			count: 1
			path: src/Url/Parsers/Full.php

		-
			message: "#^Method Surface\\\\CommonMark\\\\Ext\\\\YouTubeIframe\\\\Url\\\\Parsers\\\\WithoutWww\\:\\:getUuid\\(\\) should return string\\|null but returns array\\<int, string\\>\\|string\\.$#"
			count: 1
			path: src/Url/Parsers/WithoutWww.php

